.item-01 {
  background-image: url("../img/01-lm.jpg");
}

.item-02 {
  background-image: url("../img/02-lm.jpg");
}

.item-03 {
  background-image: url("../img/03-lm.jpg");
}

.item-04 {
  background-image: url("../img/04-lm.jpg");
}

.item-05 {
  background-image: url("../img/05-lm.jpg");
}

.item-21 {
  background-image: url("../img/21.jpg");
}

.item-22 {
  background-image: url("../img/22.jpg");
}

.item-23 {
  background-image: url("../img/23.jpg");
}

.item-24 {
  background-image: url("../img/24.jpg");
}

.item-25 {
  background-image: url("../img/25.jpg");
}

.item-31 {
  background-image: url("../img/31.jpg");
}

.item-32 {
  background-image: url("../img/32.jpg");
}

.item-33 {
  background-image: url("../img/33.jpg");
}

.item-34 {
  background-image: url("../img/34.jpg");
}

.item-35 {
  background-image: url("../img/35.jpg");
}
